:root{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Nav Section */
.nav-container{
    display: flex;
    height: 6vh;
    background: rgb(248, 216, 111);
}

.nav-wrapper{
    display: flex;
    flex: 1 1 100%;
    gap: 5vw;
    justify-content: center;
    margin-left: 22rem;
    
}

.nav-item-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-item{
    transition: all .2s ease;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.nav-cart-wrapper{
    display: flex;
    gap: .2rem;
    align-items: center;

    background: white;
    margin: .6vh 0;
    padding: 1rem;
    padding-right: 2.2rem;
    box-shadow: inset 0px 0px 2px 1px rgb(216, 216, 216);
}

.nav-cart-icon-wrapper{
    padding-right: .5vw;
}
.nav-cart-icon{
    background-position: center;
    background-image: url("./Assets/Icons/shopping_cart.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-cart-text-wrapper{
    display: flex;
    gap: 1rem;
}

/* Product Bar Section */
.pbar-container{
    height: 8vw;
    background: white;
    box-shadow: inset 0px -1px 2px .5px rgb(209, 209, 209);
    display: flex;
}

.pbar-wrapper{
    display: flex;
    flex: 1 1 100%;
    gap: 1rem;
    align-items: center;
    margin: 0 15vw;
}

.pbar-items-wrapper{
    display: flex;
    gap: 4vw;
    font-weight: 700;
    font-size: 1.35rem;
    flex: 1 1 25%;
}

.pbar-dropdown-content{
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 1rem;
    padding-right: 5rem;
}

.pbar-dropdown-item{
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

.pbar-dropdown-title-wrapper{
    display: flex;
    gap: .5rem;
}

.pbar-dropdown-title-icon-wrapper{
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
}

.pbar-dropdown-title-icon{
    background: url("./Assets/Icons/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex: 1 1 100%;
}

.pbar-dropdown-title-wrapper:hover + .pbar-dropdown-content{
    display: flex;
}

.pbar-dropdown-content:hover{
    display: flex;
}

.contact{
    min-width: 8em;
}

.pbar-item:hover{
    cursor: pointer;
}

.pbar-dropdown-title:hover{
    cursor: pointer;
    color: rgb(66, 151, 204);

}

.pbar-link{
    text-decoration: underline;
    color: rgb(66, 151, 204);
}

.pbar-search-wrapper{
    display: flex;
    box-shadow: inset 0 0 2px .5px grey;
    padding: .7rem;
    margin-left: 5rem;
    gap: .5rem;
}

.pbar-searchbar{
    outline: none;
    border: none;
    width: 15rem;
    font-size: 1.1rem;
}

.pbar-search-icon{
    background: url("./Assets/Icons/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
}

.pbar-brand-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pbar-brand-icons-wrapper{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.pbar-brand-icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5rem;
    width: 5rem;
    opacity: 0;
}

.icon-1{
    background-image: url("./Assets/Art-Images/logo-1.svg");
    animation: rollIn 1s ease forwards 1.5s;
}

.icon-2{
    background-image: url("./Assets/Art-Images/logo-2.svg");
    animation: rollIn 1s ease forwards .75s;
}

.icon-3{
    background-image: url("./Assets/Art-Images/logo-3.svg");
    animation: rollIn 1s ease forwards;
}

@keyframes rollIn {
    0%{
        transform: translateX(-20vw);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.pbar-brand-subtitle-wrapper{
    padding-top: .5rem;
    animation: fadeIn 1s ease forwards 2.25s;
    opacity: 0;
}

@keyframes fadeIn{
    100%{
        opacity: 1;
    }
}
.pbar-brand-subtitle{
    background-image: url("./Assets/Art-Images/logo-text.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1rem;
    width: 14rem;
}

/* Hero Section */

.hero-container{
    display: flex;
    height: 70vh;
}

.hero-wrapper{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    background: url("./Assets/Art-Images/spot-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content-wrapper{
    display:flex;
    align-items: center;
    flex-direction: column;
    background: rgba(30, 35, 63, 0.75);
    padding: 2rem 5rem;
    font-family: 'Alegreya', serif;
    color: white;

    border-radius: 3rem 0;
}

.hero-icon-banner{
    height: 7rem;
    width: 20rem;
    background: url('./Assets/Art-Images/spot-logomark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hero-title{
    font-size: 5rem;
    text-shadow: 0px 2px 4px black;
}

.hero-subtitle{
    font-size: 4rem;
    text-shadow: 0px 2px 4px black;

}

/* Welcome Section */

.welcome-container{
    display: flex;
}

.welcome-wrapper{
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.welcome-header-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.welcome-header{
    font-family: 'Alegreya', serif;
    font-size: 2.3rem;
}

.welcome-writing{
    width: 40rem;
    text-align: center;
    line-height: 1.5rem;
}

.welcome-apparel-wrapper{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.welcome-apparel-item-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 25vh;
    width: 25vw;
}

.one{
    background: url("./Assets/Banners/banner1-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two{
    background: url("./Assets/Banners/banner2-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome-apparel-title{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-shadow: 0px 5px 10px black;
    margin-bottom: 2rem;
}

/* Featured Section */

.featured-container{
    display: flex;
    margin-top: -2rem;
}

.featured-wrapper{
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.featured-title{
    font-family: 'Alegreya', serif;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.featured-items-wrapper{
    display: flex;
    gap: 2.7rem;
}

.featured-item-wrapper{
    padding: 2.7rem;
    border: 2px solid rgb(233, 231, 231);
    border-radius: 1rem 0;
}

.featured-item{
    height: 20vh;
    width: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.first{
    background-image: url("./Assets/Featured/item1-img.jpg");
}
.second{
    background-image: url("./Assets/Featured/item2-img.jpg");

}
.third{
    background-image: url("./Assets/Featured/item3-img.jpg");

}
.fourth{
    background-image: url("./Assets/Featured/item4-img.jpg");

}

/* Footer Section */

.footer-container{
    display: flex;
    margin-top: 10vh;
    height: 13vh;
}

.footer-wrapper{
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    background: url("./Assets/Art-Images/footer-pattern.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(54, 54, 54);

    color: white;
}

.footer-copyright-wrapper{
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
}

.footer-links-wrapper{
    display: flex;
    flex: 1 1 50%;
    gap: 2rem;
}